<div class="vh-100 bg-image" style="background-image: url('');">
    <div class="navbar">
      <h1>Admin Panel</h1>
      <ul class="nav-links">
        <li><a routerLink="/admin/users">Users</a></li>
        <li><a routerLink="/admin/activities">Activities</a></li>
        <li><a routerLink="/admin/regimes">Regimes</a></li>
      </ul>
    </div>
    
    <div class="container">
      <div class="card">
        <div class="card-header">
          Manage Activities
        </div>
        <div class="activity-list">
          <table>
            <colgroup>
              <col style="width: 10%">
              <col style="width: 20%">
              <col style="width: 20%">
              <col style="width: 15%">
              <col style="width: 15%">
              <col style="width: 20%">
            </colgroup>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Max IMC</th>
                <th>Min IMC</th>
                <th>Video</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of activities">
                <td>{{ activity.id }}</td>
                <td>{{ activity.nom_act }}</td>
                <td>{{ activity.description_act }}</td>
                <td>{{ activity.type_act}}</td>
                <td>{{ activity.max_imc }}</td>
                <td>{{ activity.min_imc }}</td>
                <td>
                <a href="{{ activity.video }}" target="_blank">{{ activity.video }}</a>
                </td>
                <td>
                    <button (click)="updateActivitiesData(activity.id)" class="update-button">Update</button>
                    <button (click)="deleteActivitiesData(activity.id)" class="delete-button">Delete</button>          
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Activity
        </div>
        <div class="add-activity-form">
          <form [formGroup]="activityForm" (ngSubmit)="addActivitiesData()">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="nom_act" >
      
            <label for="description">Description</label>
            <input type="text" id="description" formControlName="description_act" >
    
            <label for="type">Type</label>
            <input type="text" id="type" formControlName="type_act" >
      
            <label for="max_imc">Max IMC</label>
            <input type="number" id="max_imc" formControlName="max_imc" >

            <label for="min_imc">Min IMC</label>
            <input type="number" id="min_imc" formControlName="min_imc" >
      
            <label for="video">Video</label>
            <input type="text" id="video" formControlName="video" >

            <div class="bcontainer">
            <button type="submit">Add Activity</button>
          </div>
          </form>
        </div>
      </div>
      
    </div>
